# Dependencies
node_modules/
package-lock.json

# Environment configuration (Contains sensitive API keys & secrets)
.env
.env.*
*.env
!.env.example

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
*.log
